@import '/src/styles/index.scss';

article {
  border-style: solid;
  border-width: 1px;
  border-color: $xiketic;
  border-radius: 12px;
  padding: 10px;
}

.capsules__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}