.tesla__roadster {
  margin: 30px 40px 0 40px;
}

.main__title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}