@import "../../../styles/index.scss";

nav {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: #000;
  padding: 10px;
}
