.logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
  img {
    width: 50px;
    filter: invert(1);
  }
  span {
    color: #fff;
    font-weight: 200;
    font-size: 25px;
    margin-left: 5px;
  }
}
