/* SCSS HEX */
$black: #000000ff;
$dark-sienna: #49111cff;
$yellow-crayola: #fff07cff;
$mint-cream: #f0f7eeff;
$eton-blue: #87bba2ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$dark-sienna: hsla(348, 62%, 18%, 1);
$yellow-crayola: hsla(53, 100%, 74%, 1);
$mint-cream: hsla(107, 36%, 95%, 1);
$eton-blue: hsla(151, 28%, 63%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$dark-sienna: rgba(73, 17, 28, 1);
$yellow-crayola: rgba(255, 240, 124, 1);
$mint-cream: rgba(240, 247, 238, 1);
$eton-blue: rgba(135, 187, 162, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-right: linear-gradient(90deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-left: linear-gradient(270deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);
$gradient-radial: radial-gradient(#000000ff, #49111cff, #fff07cff, #f0f7eeff, #87bba2ff);