<article>
  <section class="info">
    <span class="info__title">Launch date: </span
    >{{ teslaRoadsterLaunchDate | date : "MMM d, y, h:mm:ss a" }}
  </section>
  <section class="info">
    <span class="info__title">Mass: </span>{{ teslaRoadsterMass }} kg
  </section>
  <section class="info">
    <span class="info__title">Speed: </span
    >{{ teslaRoadsterSpeed | number : ".2-2" }} km/h
  </section>
  <section class="info">
    <span class="info__title">Period: </span
    >{{ teslaRoadsterPeriodDays | number : ".2-2" }} days
  </section>
</article>
